#Git
.git
.gitignore

#Dependencies
node_modules

#NextJS
.next

#Environment
.env
.env.local
.env*


# IDE/Editor
.idea
.vscode
.zencoder

#TypeScript
tsconfig.tsbuildinfo

#docs
README.md
*.md

# OS files
.DS_Store
Thumbs.db

